<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <link rel="stylesheet" href="/static/styles/base.css"/>
    <link rel="stylesheet" href="/static/styles/layouts.css"/>
    <link rel="stylesheet" href="/static/styles/modules.css"/> -->
  </head>
  <body>
    <header class="site-header clearfix">
      <section class="heading-group-h1">
        <h1>Forbees Foreteee</h1>
      <nav class="main-nav">
        <div class="icon-menu"></div>
        <ul>
          <li class="tab" data-content="billies"><a href="/" class="icon-home"> Home</a></li>
          {% block top %}
        {% endblock %}
        </ul>
      </nav>
    </header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>